<div class="jumbotron pre-footer ">
  <div class="container text-sm-center">
    <p><em>Die Critical Mass Sternfahrt wird unterstützt von</em></p>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <strong><a href="https://criticalmassstuttgart.wordpress.com/" target="_blank"><img src="{{ .Site.BaseURL }}/img/support_logo_cms.jpg" alt="Critical Mass Stuttgart" /></a></strong>
      </div>
      <div class="col-md-6 col-lg-3">
        <strong><a href="http://vcd-stuttgart.de/" target="_blank"><img src="{{ .Site.BaseURL }}/img/support_logo_vcd.jpg" alt="VCD Stuttgart" /></a></strong>
      </div>
      <div class="col-md-6 col-lg-3">
        <strong><a href="https://www.adfc-bw.de/stuttgart/" target="_blank"><img src="{{ .Site.BaseURL }}/img/support_logo_adfc.jpg" alt="ADFC Stuttgart" /></a></strong>
      </div>
      <div class="col-md-6 col-lg-3">
        <strong><a href="http://naturfreunde-radgruppe-stuttgart.de/" target="_blank"><img src="{{ .Site.BaseURL }}/img/support_logo_nrs.jpg" alt="Naturfreunde Radgruppe Stuttgart" /></a></strong>
      </div>
    </div>
  </div>
</div>

<footer class="footer text-sm-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-muted text-center">

        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://github.com/{{ .Site.Params.github }}"
               target="_blank" style="white-space: nowrap;">
              <span class="fa fa-github"></span>
              Github
            </a>
          </li>
          <li class="list-inline-item">·</li>
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ .Site.Params.twitter }}"
               target="_blank" style="white-space: nowrap;">
              <span class="fa fa-twitter"></span>
              Twitter
            </a>
          </li>
          <li class="list-inline-item">·</li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ .Site.Params.facebook }}"
               target="_blank" style="white-space: nowrap;">
              <span class="fa fa-facebook-square"></span>
              Facebook
            </a>
          </li>
        </ul>

        <ul class="list-inline">
          <li class="list-inline-item">
            Code:
            <a href="http://choosealicense.com/licenses/mit/"
               rel="license" target="_blank">
              MIT License
            </a>
          </li>
          <li class="list-inline-item">·</li>
          <li class="list-inline-item">
            Content:
            <a href="http://creativecommons.org/licenses/by-sa/4.0/"
               rel="license" target="_blank">
              CC BY-SA 4.0
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>
