<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="description" content="{{ .Site.Params.description }}">

  <!-- Icons -->
  <link rel="icon" href="{{ .Site.BaseURL }}img/favicon.png" />
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}img/apple-touch-icon.png" />

  <!-- Style & Font -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}vendor/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}vendor/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}vendor/css/mapbox.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.min.css" />

  <!-- jQuery -->
  <script src="{{ .Site.BaseURL }}vendor/js/jquery.min.js"></script>
  <!-- more js at end of body -->

</head>
<body>
