{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="container">
  <h1>Die Strecken am 12. Juni 2016</h1>
  <div id="overviewmap" class="cmmap"></div>
  <div class="clearfix"></div>

  {{ partial "index-routes.html" . }}

  <div class="clearfix"></div>

  {{ partial "index-blog.html" . }}

  <div class="clearfix"></div>

  {{ partial "index-sonstiges.html" . }}
</div>



{{ $maps := split (partial "maps.html" . | chomp) "\n" }}
{{ $len := len $maps }}
<script>
  $(document).ready(function(){
    makeMap(
      [{{ range $index, $element := $maps }}
        {{ printf "\"%vmaps/%v\"" $.Site.BaseURL $element | safeJS }}{{ if not (eq $index $len) }}{{ printf "%v" "," | safeJS }}{{ end }}{{ end }}
      ],
      "overviewmap"
    );
  });
 </script>


{{ partial "footer.html" . }}
{{ partial "foot.html" . }}
